
.banner{   
	position: absolute;   
}     

.oneByOne1{
	overflow: hidden;
	top: 15px;
	left: 0px;  
	background: ;	
	margin: 0;
	width: 940px;
	height: 475px;       
	position: relative;
	

}   

.banner .oneByOne_item{
	position: absolute;
	width: 960px;
	height: 420px;  
	 
}         
                      
.banner .oneByOne_item span{
	font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
}                                                                                              

.banner .oneByOne_item a{
	text-decoration: none;
	color: #B22222;
}
              


/* slide 1 */
.banner img.img1{
	position: absolute;
	top: 60px;
	left: 610px;
}

.banner img.img2{
	position: absolute;
	top: 293px;
	left: 495px;
}            

.banner .oneByOne_item .text1{
	font-family: 'ProximaNova-Bold';
	position: relative;
	float: left;
	margin: 57px 12px 0 0px;
	color: #fff;	
	font-size: 56px;
}

.banner .oneByOne_item .text2{ 
    font-family: 'ProximaNova-Regular';             
	clear: left;
	position: relative;
	float: left;
	margin: 15px 12px 0 0px;
	color: #4a565c;
	font-size: 24px;
}             

/* slide 2 */
.banner img.img3{
	float:right;
	margin: 35px 50px 0 0;
}
.banner img.img4{
	float:right;
	top: 64px;
	left: 160px;
}
.banner img.img5{
	position: absolute;
	top: 212px;
	left: 365px;
}
.banner .oneByOne_item .text3{
	clear: left;
	float: left;
	margin: 63px 0px 0 0px;    
	color: #333333;
	font-size: 28px;
}          
.banner .oneByOne_item .text4{
	clear: left;
	float: left;
	margin: 25px 0px 0 0px; 	
	color: #666666;
	font-size: 16px;
}                     
  
/* slide 3 */
.banner .slide3 img.wp1{
	position: absolute;
	top: 310px;
	left: 228px;
}
.banner .slide3 img.wp2{
	float:right;
	top: 225px;
	left: 430px;
}              
 

.banner .slide3 span.txt1{
	clear: both;
	float: left;
	margin: -330px 12px 0 0px;        
	padding: 8px;
	color: #FFFFFF;
	font-size: 40px;
} 
.banner .slide3  span.txt1 a{
	color: #FFFFFF;
}         
.banner .slide3 span.txt2{
	clear: both;
	float: left;
	margin: -113px 12px 0 0px;
	color: #FFFFFF;  
	padding: 8px;
	font-size: 22px;
}  
              
.banner .slide3  span.txt2 a{
	color: #FFFFFF;
}
.banner .slide3 span.txt3{
	clear: both;
	float: left;
	margin: -113px 12px 0 210px;
	color: #FFFFFF;  
	padding: 8px;
	font-size: 22px;
} 
.banner .slide3  span.txt3 a{
	color: #FFFFFF;
}     

/* slide 4 */   
.banner img.wp1{
	float:right;
	margin:38px 20px 0 0;
}
.banner img.wp2{
	position: absolute;
	top: 200px;
	left: 470px;
}              
/*#banner img.wp3{
	position: absolute;
	top: 0px;
	left: 0px;
} */  

.banner .oneByOne_item span.wp1{
	clear: left;
	position: relative;
	float: left;
	margin: 120px 12px 0 60px;       
	padding: 8px;
	color: #FFFFFF;
	font-size: 40px;
} 
.banner .oneByOne_item span.wp1 a{
	color: #FFFFFF;
}         
.banner .oneByOne_item span.wp2{
	clear: left;
	position: relative;
	float: left;
	margin: 12px 12px 0 60px; 
	color: #FFFFFF;  
	padding: 8px;
	font-size: 16px;
}                  

/* slide 5 */
.banner .oneByOne_item img.bigImage{
	float:right;
	margin:90px 20px 0 0;
	

}
.banner .oneByOne_item span.slide5Txt1{ 
	float: left;
	margin: 85px 12px 0 0px;
	color: #9ACD32;	
	font-size: 24px;  
	padding: 8px;             
}
 
.banner .oneByOne_item span.slide5Txt2{ 
	clear: left;
	float: left;
	margin: 30px 12px 0 0px;
	color: #666666;	
	font-size: 12px;  
	padding: 8px;             
}  
