@font-face {
	font-family: 'maven_problack';
	src: url('../fonts/maven/maven_pro_black.eot');
	src: url('../fonts/maven/maven_pro_black.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_black.woff') format('woff'), url('../fonts/maven/maven_pro_black.ttf') format('truetype'), url('../fonts/maven/maven_pro_black.svg#maven_problack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_probold';
	src: url('../fonts/maven/maven_pro_bold.eot');
	src: url('../fonts/maven/maven_pro_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_bold.woff') format('woff'), url('../fonts/maven/maven_pro_bold.ttf') format('truetype'), url('../fonts/maven/maven_pro_bold.svg#maven_probold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_promedium';
	src: url('../fonts/maven/maven_pro_medium.eot');
	src: url('../fonts/maven/maven_pro_medium.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_medium.woff') format('woff'), url('../fonts/maven/maven_pro_medium.ttf') format('truetype'), url('../fonts/maven/maven_pro_medium.svg#maven_promedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_proregular';
	src: url('../fonts/maven/maven_pro_regular.eot');
	src: url('../fonts/maven/maven_pro_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_regular.woff') format('woff'), url('../fonts/maven/maven_pro_regular.ttf') format('truetype'), url('../fonts/maven/maven_pro_regular.svg#maven_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_proregular';
	src: url('../fonts/maven/mavenpro-regular.eot');
	src: url('../fonts/maven/mavenpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/mavenpro-regular.woff') format('woff'), url('../fonts/maven/mavenpro-regular.ttf') format('truetype'), url('../fonts/maven/mavenpro-regular.svg#maven_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ewd_background h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.ewd_background input, textarea, select {
	outline: none;
	font-family: 'maven_proregular';
}
.ewd_background ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ewd_background a {
	outline: none;
	text-decoration: none;
}
.c {
	clear: both;
}
.ewd_bg {
	margin: 0;
	padding: 0;
}
.ewd_wrap {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.popup_bg {
	background: #fff;
	border-radius: 12px;
	margin: 0;
	padding: 20px 10px;
	position: relative;
}
.ewd_background {
	background: #f1f1f1;
	margin: 0 auto;
	padding: 0 0 30px 0;
	width: 900px;
}
.recev_wrap {
	width: 900px;
	margin: 0;
	padding: 0;
	background: #a5ca37;
	position: relative;
}
.ewd_left {
	float: left;
	background: url(../images/covleft.png) left no-repeat;
	height: 89px;
	margin: 0;
	padding: 0;
	width: 12px;
	margin-left: -12px;
}
.ewd_recive {
	width: 900px;
	height: auto;
	margin: 14px 0;
	padding: 16px 0;
	background: #a5ca37;
	float: left;
}
.ewd_recive h1 {
	color: #fff;
	font-family: 'maven_probold';
	font-size: 37px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.ewd_recive h1 a {
	color: #fff;
	font-family: 'maven_probold';
}
.ewd_right {
	float: left;
	background: url(../images/covright.png) left no-repeat;
	height: 89px;
	margin: 0;
	padding: 0;
	width: 12px;
	float: right;
	margin-right: -12px;
}
.our_client {
	margin: 0;
	padding: 0;
}
.center_border {
	background: url(../images/Free-Website-Analysis-3.png) center no-repeat;
	margin: 0 auto;
	padding: 40px 0 0 0;
	height: 2px;
	width: 482px;
}
.ewd_box {
	width: 152px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background: rgb(241,241,241); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 2px #000;
	border-radius: 3px;
	position: relative;
	top: -40px;
}
.ewd_box h6 {
	font-family: 'maven_promedium';
	font-size: 24px;
	text-align: center;
	color: #0C6;
	margin: 0;
	padding: 5px;
}
.ewd_box h6 a {
	font-family: 'maven_promedium';
	color: #0C6;
}
.client_wrapp {
	margin: 0 auto;
	padding: 0;
	width: 840px;
}
.ewd_logo {
	margin: 0 auto;
	padding: 0;
}
.ewd_logo ul li {
	float: left;
	margin: 0;
	padding: 20px;
}
.ewd_page {
	width: 827px;
	margin: 0 auto;
	padding: 0;
	background: #4a565c;
}
.ewd_page h1 {
	font-family: 'maven_probold';
	font-size: 28px;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}
.ewd_page h1 a {
	font-family: 'maven_probold';
	color: #fff;
}
.ewd_para {
	margin: 0 auto;
	padding: 0;
}
.ewd_para h5 {
	font-family: 'maven_promedium';
	font-size: 22px;
	color: #4a565c;
	padding: 20px 0;
	margin: 0 50px;
	text-align: center;
}
.ewd_wraap {
	margin: 0;
	padding: 0;
}
.ewd_dotted {
	background: url(../images/dotted_line.png) center no-repeat;
	height: 74px;
}
.ewd_images {
	margin: 0 auto;
	padding: 0;
}
.ewd_images ul li {
	margin: 0;
	padding: 0 45px 30px 45px;
	float: left;
}
.ewd_identify {
	margin: 0 auto;
	padding: 0;
}
.ewd_identify ul li a {
	background: url(../images/true.png) left no-repeat;
	height: 32px;
	margin: 0;
	padding: 0 30px;
	float: left;
	font-family: 'maven_probold';
	font-size: 24px;
	color: #4a565c;
	line-height: 40px;
	text-align: right;
}
.ewd_form {
	background: #fff;
	margin: 30px 0 0 0;
	padding: 0 25px 20px 25px;
	border-left: 4px #a5ca37 solid;
	border-right: 4px #a5ca37 solid;
}
.ewd_form p {
	margin: 0;
	padding: 0;
}
.ewd_form h2 {
	font-family: 'maven_probold';
	font-size: 28px;
	color: #4a565c;
	line-height: 20px;
	text-align: center;
	margin: 0;
	padding: 20px 0 0 0;
	margin-bottom: 15px
}
.form_left {
	width: 380px;
	margin: 0;
	float: left;
	padding: 0;
}
.ewd_form input {
	width: 360px;
	height: 40px;
	border-radius: 3px;
	border: 0;
	border: 0px #ccc solid;
	margin: 10px 0;
	padding: 0 10px;
	font-family: 'maven_proregular';
	font-size: 16px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 3px rgba(0, 0, 0, 0.33);
}
.form_right {
	width: 380px;
	margin: 0;
	float: right;
	padding: 0;
}
.ewd_code {
	margin: 0;
	padding: 0;
}
.ewd_code span {
	margin: 0;
	padding: 15px 0;
	float: left;
}
.ewd_code input {
	width: 249px;
	height: 40px;
	border-radius: 3px;
	border: 0;
	margin: 10px 0;
	padding: 0 5px;
	float: right;
	font-family: 'maven_proregular';
	font-size: 16px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 3px rgba(0, 0, 0, 0.33);
}
.prview {
	background: #4a565c;
	margin: 0;
	padding: 0;
	width: 381px;
	font-family: 'maven_probold';
	font-size: 24px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}
.popup-close {
	background: url(../images/popup-close.png);
	width: 47px;
	height: 47px;
	position: absolute;
	right: -20px;
	top: -20px;
}
.popup-close a {
	width: 47px;
	height: 47px;
	display: block;
}

#fancybox-content {
	overflow: visible !important;
}

#fancybox-content > div{
	overflow: visible !important;
}

.ewd_background input.review {
 background: #4a565c;
 margin: 0;
 padding: 0;
 width: 381px;
 font-family: 'maven_probold';
 font-size: 24px;
 color: #fff;
 line-height: 40px;
 text-align: center;
 border-radius: 3px;
 text-transform: uppercase;
 margin-top: 10px;
 cursor: pointer;
}

.ewd_background input.captcha{
 width: 225px;
 height: 40px;
 border-radius: 3px;
 border: 0;
 margin: 10px 0;
 padding: 0 5px;
 float: right;
 font-family: 'maven_proregular';
 font-size: 16px;
 box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 3px rgba(0, 0, 0, 0.33);
}
#fancybox-wrap{
z-index:10010
}


