@font-face {
	font-family: 'maven_problack';
	src: url('../fonts/maven/maven_pro_black.eot');
	src: url('../fonts/maven/maven_pro_black.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_black.woff') format('woff'), url('../fonts/maven/maven_pro_black.ttf') format('truetype'), url('../fonts/maven/maven_pro_black.svg#maven_problack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_probold';
	src: url('../fonts/maven/maven_pro_bold.eot');
	src: url('../fonts/maven/maven_pro_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_bold.woff') format('woff'), url('../fonts/maven/maven_pro_bold.ttf') format('truetype'), url('../fonts/maven/maven_pro_bold.svg#maven_probold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_promedium';
	src: url('../fonts/maven/maven_pro_medium.eot');
	src: url('../fonts/maven/maven_pro_medium.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_medium.woff') format('woff'), url('../fonts/maven/maven_pro_medium.ttf') format('truetype'), url('../fonts/maven/maven_pro_medium.svg#maven_promedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_proregular';
	src: url('../fonts/maven/maven_pro_regular.eot');
	src: url('../fonts/maven/maven_pro_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/maven_pro_regular.woff') format('woff'), url('../fonts/maven/maven_pro_regular.ttf') format('truetype'), url('../fonts/maven/maven_pro_regular.svg#maven_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maven_proregular';
	src: url('../fonts/maven/mavenpro-regular.eot');
	src: url('../fonts/maven/mavenpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/maven/mavenpro-regular.woff') format('woff'), url('../fonts/maven/mavenpro-regular.ttf') format('truetype'), url('../fonts/maven/mavenpro-regular.svg#maven_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MerriweatherLight';
	src: url('../fonts/Merriweather-Light-webfont.eot');
	src: url('../fonts/Merriweather-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather-Light-webfont.woff') format('woff'), url('../fonts/Merriweather-Light-webfont.ttf') format('truetype'), url('../fonts/Merriweather-Light-webfont.svg#MerriweatherLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MerriweatherRegular';
	src: url('../fonts/Merriweather-Regular-webfont.eot');
	src: url('../fonts/Merriweather-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather-Regular-webfont.woff') format('woff'), url('../fonts/Merriweather-Regular-webfont.ttf') format('truetype'), url('../fonts/Merriweather-Regular-webfont.svg#MerriweatherRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MerriweatherItalic';
	src: url('../fonts/Merriweather-Italic-webfont.eot');
	src: url('../fonts/Merriweather-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather-Italic-webfont.woff') format('woff'), url('../fonts/Merriweather-Italic-webfont.ttf') format('truetype'), url('../fonts/Merriweather-Italic-webfont.svg#MerriweatherItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MerriweatherBold';
	src: url('../fonts/Merriweather-Bold-webfont.eot');
	src: url('../fonts/Merriweather-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather-Bold-webfont.woff') format('woff'), url('../fonts/Merriweather-Bold-webfont.ttf') format('truetype'), url('../fonts/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MerriweatherHeavy';
	src: url('../fonts/Merriweather-Black-webfont.eot');
	src: url('../fonts/Merriweather-Black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Merriweather-Black-webfont.woff') format('woff'), url('../fonts/Merriweather-Black-webfont.ttf') format('truetype'), url('../fonts/Merriweather-Black-webfont.svg#MerriweatherHeavy') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/proximanovaregular.eot');
	src: url('../fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovaregular.woff') format('woff'), url('../fonts/proximanovaregular.ttf') format('truetype'), url('../fonts/proximanovaregular.svg#proximanovaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/proximanovalight.eot');
	src: url('../fonts/proximanovalight.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype'), url('../fonts/proximanovalight.svg#proximanovalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/proximanovasemibold.eot');
	src: url('../fonts/proximanovasemibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovasemibold.woff') format('woff'), url('../fonts/proximanovasemibold.ttf') format('truetype'), url('../fonts/proximanovasemibold.svg#proximanovasemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/proximanovabold.eot');
	src: url('../fonts/proximanovabold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovabold.woff') format('woff'), url('../fonts/proximanovabold.ttf') format('truetype'), url('../fonts/proximanovabold.svg#proximanovabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.c {
	clear: both;
}
.popup_bg {
	margin: 0;
	position: relative;
	background-image: url(../images/free-website-analysis-bg.png);
	background-repeat: no-repeat;
	background-position: top;
	width: 819px;
	padding: 70px 0
}
.ewd_background {
	margin: 0 auto;
	padding: 0;
	width: 690px;
	margin-left:47px;
	background-image:url(../images/popup-web-analysis-arrow.png);
	background-position:44% 40%;
	background-repeat:no-repeat
}
.ewd_background h1.free-analysis-title {
	background-image: url(../images/free-web-analysis-title.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 42px;
	display: block;
	margin-bottom:10px;
}
.ewd_background h2 {
	background-color: #a5ca37;
	color: #fff;
	font-size: 22px;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: 'ProximaNova-Bold';
}
.free-analysis-content {
	padding: 0;
	margin: 0;
	overflow: hidden
}
.free-analysis-content .left {
	float: left;
	width: 38%;
}
.free-analysis-content .left h3 {
	font-size: 18px;
	color: #4a565c;
	font-family: 'ProximaNova-Regular';
}
.free-analysis-content .right {
	float: right;
	width: 49%;
}
.free-analysis-content .right h4 {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	color: #4a565c;
	font-weight: normal;
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
	line-height:25px;
}
form#popupform {
	padding: 0;
	margin: 0;
}
form#popupform p {
	padding: 0;
	margin: 0 0 10px 0;
	position:relative
}
form#popupform input[type="text"] {
	width: 95%;
	height: 40px;
	border-radius: 3px;
	border: 0;
	padding: 0 5px;
	font-family: 'maven_proregular';
	font-size: 16px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 3px rgba(0, 0, 0, 0.33);
}
form#popupform input.required.errors {
	background-color:#FF9999;
	border:1px solid #BB3D3D;
	color:#000
}
form#popupform input[type="submit"] {
	background: #4a565c;
	margin: 0;
	padding:5px 0;
	width:98%;
	border:none;
	font-family: 'maven_probold';
	font-size: 18px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}
form#popupform p span.errors{
	position:absolute;
	right:10px;
	top:10px;
	display:none;
	color:#fff;
	background-color:red;
	padding:0 5px;
}
ul.ewd_identify {
	padding: 0;
	margin: 0;
}
ul.ewd_identify li {
	list-style: none;
	background-image: url(../images/true.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	padding-left:35px;
	font-size: 16px;
	color: #ed1a1d;
	text-transform: uppercase;
	font-family: 'ProximaNova-Bold';
	line-height:32px;
}
.prview {
	background: #4a565c;
	margin: 0;
	padding: 0;
	width: 381px;
	font-family: 'maven_probold';
	font-size: 24px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}
.popup-close {
	background: url(../images/christmas-close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 183px;
	height: 65px;
	position: absolute;
	left:40%;
	bottom:-60px;
}
.popup-close a {
	width: 183px;
	height: 65px;
	display: block;
	cursor:pointer
}
#fancybox-content {
	overflow: visible !important;
}
#fancybox-content > div {
	overflow: visible !important;
}
#fancybox-wrap {
	z-index: 10010
}
