header{
	background-image:url(../images/header-bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#f1f1f1;
	position:fixed;
	width:100%;
	top:47px;
	z-index:10000
	}
header .wrapper{
	padding:0;
	}
h1.logo{
	margin:0;
	float:left;
	width:22%;
	}
h1.logo a{
	display:block;
	}
nav{
	padding:0;
	margin:0;
	float:right;
	width:67%;
	}
ul.menu{
	padding:0;
	margin:0;
	}
ul.menu li{
	list-style:none;
	float:left;
	display:inline;
	}
ul.menu li a{
    display:block;
	color:#888888;
	font-family: 'ProximaNova-Bold';
	text-transform:uppercase;
	font-size:14px;
	}
ul.menu li a span{
    display:block;
	padding:48px 10px 20px 15px;
	}
/*ul.menu li a:hover{
	color:#555;
	background-image:url(../images/menu-active.png);
	background-repeat:no-repeat;
	background-position:right -88px;
	display:block;
	}
ul.menu li a:hover span{
	color:#555;
	background-image:url(../images/menu-active.png);
	background-repeat:no-repeat;
	background-position:left top;
	display:block;
	}*/
ul.menu li a.active{
	color:#555;
	background-image:url(../images/menu-active.png);
	background-repeat:no-repeat;
	background-position:right -88px;
	display:block;
	}
ul.menu li a.active span{
	color:#555;
	background-image:url(../images/menu-active.png);
	background-repeat:no-repeat;
	background-position:left top;
	display:block;
	padding-right:10px;
	}
ul.menu li.ui-menu-item{
	position:relative;
	}
ul.menu li.ui-menu-item a.ui-state-active{
	background-color:transparent
	}
ul.menu li.ui-menu-item a.ui-state-active span{
	padding-right:10px;
	}
ul.menu li.ui-menu-item a span.ui-menu-icon{
	display:none
	}
ul.menu li.ui-menu-item ul.ui-menu{
	top:80px !important;
	left:-65px !important;
	position:absolute !important;
	z-index:10000;
	padding:0;
	margin:0;
	width:300px;
	background-color:#f5f5f5;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding:10px 0;
	background-image:url(../images/dropdown-deco.jpg);
	background-repeat:repeat-y;
	background-position:left;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	}
ul.menu li.ui-menu-item ul.small{
	width:320px;
	left:-20px !important;
	}
ul.menu li.ui-menu-item span.arrow{
	width:24px;
	height:13px;
	display:inline-block;
	background-image:url(../images/dropdown-arrow.png);
	background-repeat:no-repeat;
	position:absolute;
	top:-13px;
	left:45%;	
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-divider{
	display:block;
	background-color:red;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item{
	float:none;
	display:block;
	padding:0
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a{
	padding:0;
	border-left:4px solid #525252;
	font-size:13px;
	color:#888;
	padding:6px 0 6px 0;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover{
	color:#a6cb37;
	border-left:4px solid #a6cb37;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon{
	padding:0;
	width:30px;
	height:25px;
	display:inline-block;
	background-image:url(../images/dropdown.png);
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
	margin:0 8px;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon{
	background-image:url(../images/dropdown-hover.png);
	background-repeat:no-repeat;
	background-position:0 0;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-menu-icon{display:none}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-blog{background-position:0 0;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-tv{background-position:0 -27px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-case{background-position:0 -54px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-graph{background-position:0 -81px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-tool{background-position:0 -356px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-media{background-position:0 -379px;}

ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-blog{background-position:0 0;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-tv{background-position:0 -27px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-case{background-position:0 -54px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-graph{background-position:0 -81px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-tool{background-position:0 -356px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-media{background-position:0 -379px;}

ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item ul.ui-menu{
	left:-320px !important;
	top:0px !important;
	width:320px;
	}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-seo{background-position:0 -108px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-ppc{background-position:0 -135px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-sem{background-position:0 -162px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-smo{background-position:0 -189px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-rm{background-position:0 -215px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-vo{background-position:0 -243px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-ls{background-position:0 -270px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-slb{background-position:0 -297px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a span.ui-icon-es{background-position:0 -324px;}


ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-seo{background-position:0 -108px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-ppc{background-position:0 -135px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-sem{background-position:0 -162px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-smo{background-position:0 -189px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-rm{background-position:0 -215px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-vo{background-position:0 -243px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-ls{background-position:0 -270px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-slb{background-position:0 -297px;}
ul.menu li.ui-menu-item ul.ui-menu li.ui-menu-item a:hover span.ui-icon-es{background-position:0 -324px;}
a.click-to-call{
	position:absolute;
	top:100px;
	right:0;
	width:140px;
	height:33px;
	display:block;
	background-image:url(../images/click-to-call.png);
	background-repeat:no-repeat;
	z-index:10;
	}

.banner .get-a-quote-btn{
	position:absolute;
	bottom:-28px;
	left:46%;
	margin-left:-130px;
	z-index:10
	}
	
.banner .get-a-quote-btn a{
	color:#FFF;
}
.banner .wrapper{
	padding:0;
	}
.banner-shadow{
	background-image:url(../images/banner-shadow.png);
	background-repeat:repeat-x;
	height:23px;
	position:absolute;
	z-index:5;
	bottom:0;
	width:100%;
	left:0
	}
ul.slideshow{
	padding:45px 0 0 0;
	margin:0 auto; 
	width:940px;
	overflow:hidden;
	}
ul.slideshow li{
	list-style:none;
	float:left;
	text-align:center;
	width:893px;
	}
ul.slideshow li span{
	color:#fff;
	text-shadow:1px 1px #76951f;
	font-size:32px;
	display:block;
	font-family: 'MerriweatherBold';
	margin-bottom:12px;
	}
ul.slideshow li p{
	color:#fff;
	text-shadow:1px 1px #76951f;
	font-size:20px;
	display:block;
	font-family: 'ProximaNova-Bold';
	}
#prev{
	width:60px;
	height:60px;
	background-image:url(../images/arrows.png);
	background-repeat:no-repeat;
	background-position:0 0;
	position:absolute;
	top:40%;
	left:2%;
	display:block;
	opacity:0.3;
	filter:alpha(opacity=30);
	transition: all 0.5s linear;
	}
#next{
	width:60px;
	height:60px;
	background-image:url(../images/arrows.png);
	background-repeat:no-repeat;
	background-position:-70px 0;
	position:absolute;
	top:40%;
	right:2%;
	display:block;
	opacity:0.3;
	filter:alpha(opacity=30);
	transition: all 0.5s linear;
	}
#prev:hover{
	opacity:1;
	filter:alpha(opacity=100);
	transition: all 0.5s linear;
	}
#next:hover{
	opacity:1;
	filter:alpha(opacity=100);
	transition: all 0.5s linear;
	}
.welcome{
	padding:0;
	margin:0;
	text-align:center;
	line-height:24px;
	}
.welcome p{
	font-size:20px;
	font-family: 'ProximaNova-Semibold';
	color:#999;
	margin:0
	}
.content.slider{
	overflow:inherit
	}
.hrecent-blog{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.hrecent-blog .left{
	float:left;
	width:33%;
	}
.hrecent-blog .right{
	float:right;
	width:65%;
	}
ul.recent-blog-left{
	padding:0;
	margin:0;
	overflow:hidden;
	border-top:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	}
ul.recent-blog-left li{
	list-style:none;
	padding:15px 10px;
	border-bottom:1px solid #d1d1d1
	}
ul.recent-blog-left li a{
	color:#858585;
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:left 5px;
	display:block;
	padding-left:15px;
	}
ul.recent-blog-right{
	padding:0;
	margin:0;
	}
ul.recent-blog-right li{
	background-image:url(../images/box-shadow.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	float:left;
	width:48%;
	margin-right:24px;
	padding-bottom:10px;
	background-color:#f7f7f7;
	position:relative;
	}
ul.recent-blog-right li:last-child{
	margin:0
	}
ul.recent-blog-right li span.date{
	color:#cccccc;
	font-size:13px;
	padding:15px 10px;
	display:block;
	font-family: 'ProximaNova-Bold';
	background-image:url(../images/date-icon.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	padding-left:30px;
	}
ul.recent-blog-right li h2 {
	margin-bottom:0;
	}
ul.recent-blog-right li img.avtar {
	position:absolute;
	right:15px;
	top:120px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	border:3px solid #fff;
	}
ul.recent-blog-right li h2 a{
	color:#555555;
	font-size:18px;
	padding:0 10px 10px 10px;
	font-family: 'ProximaNova-Bold';
	display:block;
	}
ul.recent-blog-right li p{
	color:#333333;
	font-size:16px;
	padding:0 10px 10px 10px;
	font-family: 'ProximaNova-Regular';
	margin-bottom:0
	}
ul.recent-blog-right li a.readmore{
	color:#a5ca37;
	font-size:16px;
	padding:0 10px 15px 10px;
	font-family: 'ProximaNova-Bold';
	margin-bottom:0;
	display:block;
	}
.ourclient{
	position:relative;
	}
.ourclient .wrapper{
	padding:0;
	}
.ourclient .scrollable{
	padding:15px 0;
	}
.ourclient div.navi{
	position:relative;
	left:0;
	top:0;
	text-align:center;
	padding:0;
	}
.htestimonial{
	padding:0 0 20px 0;
	margin:0;
	}
.htestimonial ul{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.htestimonial li{
	list-style:none;
	float:left;
	width:48%;
	margin-left:20px;
	overflow:hidden
	}
.htestimonial li:first-child{
	margin-left:0;
	}
.htestimonial li p{
	margin-bottom:5px;
	font-size:16px;
	font-style:italic;
	color:#333333
	}
.htestimonial li div.detail{
	display:table-cell;
	overflow:hidden;
	}
.htestimonial li span.author-name{
	display:block;
	color:#a5ca37;
	font-family: 'ProximaNova-Bold';
	font-size:14px;
	margin-bottom:5px;
	}
.htestimonial li span.post{
	display:block;
	color:#bcbcbc;
	font-size:13px;
	}
.htestimonial li div.testi-avtar{
padding:10px;
display: inline-block;
background-color: #fff;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border:1px solid #d1d1d1;
float:left;
margin-right:15px;
}
.htestimonial li div.testi-avtar img {
width: 120px;
height: 120px;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
margin:0;
}
footer{
	padding:0;
	margin:25px 0 0 0;
	position:relative;
	color:#858585;
	font-size:14px;
	position:relative;
	}
footer .wrapper{
	padding:0;
	}
footer a.get-a-quote-btn{
	position:absolute;
	z-index:1;
	top:-35px;
	left:50%;
	margin-left:-130px;
	}
footer h3{
	text-transform:uppercase;
	}
footer a{
	color:#858585
	}
footer strong{
	color:#858585;
	font-family: 'ProximaNova-Bold';
	}
footer a.email{
	color:#a5ca37;
	font-family: 'ProximaNova-Bold';
	}
footer p{
	line-height:25px;
	}
footer ul{
	padding:0;
	margin:0;
	}
footer li{
	list-style:none;
	line-height:25px;
	}
footer .quick-links{
	float:left;
	width:15%;
	}
footer .our-services{
	float:left;
	width:22%;
	}
footer .contacts{
	float:left;
	width:26%;
	}
footer .follow{
	float:left;
	width:24%;
	}
footer .follow li{
	float:left;
	width:48%;
	margin-bottom:10px;
	}
footer .follow li a.facebook{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 0;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.twitter{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -120px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.in{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -40px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.youtube{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -160px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.yelp{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -80px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.gplus{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -200px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .follow li a.rss{
	background-image:url(../images/etraffic-social-media.png);
	background-repeat:no-repeat;
	background-position:0 -240px;
	padding-left:40px;
	height:30px;
	line-height:30px;
	display:block;
	}
footer .adward{
	float:left;
	width:13%;
	}
.copy{
	text-align:center;
	padding:15px 0;
	background-color:#666;
	color:#c3c3c3;
	font-size:14px;
	}
/* page title start */
.inner-page{
	padding:35px 0 35px 0;
	margin:0;
	background-image:url(../images/inner-shadow.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.inner-page .wrapper{
	padding:0
	}
.inner-page .grey .wrapper{
	padding:35px 0 20px 0
	}
.inner-page .content .wrapper{
	padding:35px 0 35px 0
	}
.page-title{
	padding:0;
	margin:0;
	}
.page-title .wrapper{
	padding-bottom:0px;
	}
.page-title h1{
	color:#555;
	font-family: 'MerriweatherBold';
	display:block;
	margin-bottom:5px;
	font-size:32px;
	}
.page-title .sub-title{
	background-color:#4a565c;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	padding:8px;
	margin-bottom:5px;
	display:inline-block;
	font-family: 'ProximaNova-Semibold';
	}
/* page title close */
.read-more{
	color:#a5ca37;
	font-size:16px;
	display:block;
	}
/* services page start */
ul.services-list{
	padding:0;
	margin:0 0 30px 0;
	border-top:1px dashed #ccc;
	border-left:1px dashed #ccc;
	border-right:1px dashed #ccc;
	overflow:hidden;
	}
ul.services-list li{
	list-style:none;
	float:left;
	display:inline-block;
	width:28%;
	height:350px;
	border-right:1px dashed #ccc;
	padding:22px;
	text-align:center;
	border-bottom:1px dashed #ccc;
	position:relative
	}
ul.services-list li.last{
	border-right:0px dashed #ccc
	}
ul.services-list li img{
	margin-bottom:1em;
	}
ul.services-list li h2{
	font-size:16px;
	display:block;
	}
ul.services-list li h2 a{
	color:#E81F28
	}
ul.services-list li a.read-more{
position:absolute;
bottom:20px;
left:40%;
}
/* services page close */
/* like work start */
.like-work{
	background-image:url(../images/like-work.jpg);
	background-color:#eee;
	background-repeat:repeat-x;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #ccc;
	}
.like-work-wrap{
	background-image:url(../images/call-logo-icon.png);
	background-repeat:no-repeat;
	background-position:right;
	display:block;
	padding:17px 0;
	text-align:center;
	font-family: 'ProximaNova-Regular';
	font-size:22px;
	overflow:hidden;
	}
.like-work-wrap span{
	padding-top:12px;
	display:inline-block
	}
.like-work-wrap strong{
	font-family: 'ProximaNova-Bold';
	font-weight:normal;
	display:block;
	margin-top:5px;
	}
.like-work-wrap a.btn{
	float:right;
	background-image:none;
	padding:0;
	margin:0 60px 0 0;
	background-color:transparent;
	border:none;
	}
.like-work-wrap a.btn img{
	vertical-align:middle
	}
/* like work close */
/* services detail page start */
.slider.two-column{
	padding:0;
	margin:0;
	}
.slider.two-column .scrollable{
	overflow: hidden;
    position: relative;
    width: 100%;
	}
.slider.two-column .scrollable .items {
    position: relative;
    width: 20000em;
}
.slider.two-column .scrollable .items div.data{
	width:940px;
	float:left;
	}
.slider.two-column .scrollable .items div.data div.data-detail{
	width:48%;
	float:left;
	padding-left:25px;
	}
.slider.two-column .scrollable .items div.data div.data-detail:first-child{
	padding-left:0px;
	}
.slider.two-column .scrollable .items div.data div.data-detail strong{
	display:block;
	margin-bottom:15px;
	}
.why-services{
	padding:0;
	margin:0;
	}
.why-services #vtabs{
	background-color:#f1f1f1;
	padding:5px;
	}
.why-services #vtabs ul{
	width:5%;
	margin:0
	}
.why-services #vtabs li{
	color:#888
	}
.why-services #vtabs li a{
	color:#888;
	font-family: 'ProximaNova-Bold';
	font-size:20px;
	}
.why-services #vtabs li.ui-state-active{
	background-color:#fff
	}
.why-services #vtabs li.ui-state-hover{
	background-color:#fff
	}
.why-services #vtabs div{
	background-color:#fff;
	min-height:200px;
	width:88.5%;
	padding:15px 30px 30px 30px;
	}
.why-services #vtabs div strong{
	display:block;
	margin-bottom:10px;
	font-size:20px;
	font-family: 'ProximaNova-Bold';
	font-weight:normal
	}
/* services detail page close */
/* more services start */
.more-services{
	margin:0 auto;
	padding:0;
	width:940px;
	}
.more-services .wrapper {
	background-color:#f1f1f1;
	padding:4px 3px;
	}
.more-services-wrap{
	padding:20px 15px 5px;
	background-color:#fff;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:2px solid #cdcdcd;
	overflow:hidden;
	}
.more-services-wrap ul{
	padding:0;
	margin:0;
	}
.more-services-wrap li{
	list-style:none;
	float:left;
	width:33%;
	line-height:36px;
	margin-bottom:15px;
	}
.more-services-wrap li a{
	font-family: 'ProximaNova-Bold';
	font-size:16px;
	color:#555;
	padding-left:45px;
	background-image:url(../images/plus-icon.png);
	background-repeat:no-repeat;
	background-position:left;
	display:block;
	}
.more-services-wrap li a.active{
	color:#e81f28;
	background-image:url(../images/plus-icon-active.png);
	background-repeat:no-repeat;
	background-position:left;
	}
/* more services close */

/* guarantee start */
.guarantee{
	background-image:url(../images/like-work.jpg);
	background-color:#eee;
	background-repeat:repeat-x;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #ccc;
	}
.guarantee-wrap{
	background-image:url(../images/call-logo-icon.png);
	background-repeat:no-repeat;
	background-position:right;
	display:block;
	padding:17px 0;
	text-align:center;
	font-family: 'ProximaNova-Regular';
	font-size:22px;
	overflow:hidden;
	}
.guarantee-wrap .left{float:left; width:230px; padding:0 15px; background-image:url(../images/gurantee-deco.jpg); background-repeat:no-repeat; background-position:right; font-size:16px; font-family: 'ProximaNova-Semibold';}
.guarantee-wrap .left img{vertical-align:middle; float:left}
.guarantee-wrap .left span{display:table-cell; overflow:hidden; padding-top:20px;}
.guarantee-wrap .left strong{font-size:25px; text-transform:uppercase; font-family: 'ProximaNova-Bold'; font-weight:normal;}
.guarantee-wrap .center{float:left; width:375px; font-size:16px; line-height:22px;}
.guarantee-wrap .center span.small{margin:0 10px}
.guarantee-wrap .center span.highlight{text-transform:uppercase; display:block; font-family: 'ProximaNova-Bold';}
.guarantee-wrap .right{float:right; width:300px}
.guarantee-wrap a.btn{
	float:right;
	background-image:none;
	padding:0;
	margin:0 60px 0 0;
	background-color:transparent;
	border:none;
	}
.guarantee-wrap a.btn img{
	vertical-align:middle
	}
/* guarantee close */
ul.style1{
	padding:0;
	margin:0;
	display:table-cell
	}
ul.style1 li{
	list-style:none;
	font-size:16px;
	color:#ea1f28;
	font-family: 'ProximaNova-Bold';
	line-height:25px;
	padding-left:20px;
	background-image:url(../images/arrow-icon.png);
	background-repeat:no-repeat;
	background-position:left 4px;
	}
ul.style2{
	padding:0;
	margin:0;
	display:table-cell
	}
ul.style2 li{
	list-style:none;
	font-size:16px;
	color:#555;
	line-height:25px;
	padding-left:20px;
	background-image:url(../images/arrow-icon.png);
	background-repeat:no-repeat;
	background-position:left 4px;
	}
.map{
	padding:0;
	margin:0;
	height:450px;
	position:relative;
    margin:0;
    padding:0;
	}
.googleMap{
	padding:0;
	margin:0;
	height:450px;
	position:relative;
	background-image: url("../images/inner-shadow.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
	}
/* blog start */
.site-content{
	padding:0;
	margin:0;
	}
.site-content h1{
	background-color:#4a565c;
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
	padding:10px;
	display:inline-block;
	font-family: 'ProximaNova-Semibold';
	}
.site-content article{
	margin-bottom:35px;
	overflow:hidden;
	width:auto
	}
h3.post-title{
	padding:0;
	margin:0 0 15px 0;
	display:block;
	}
h3.post-title a{
	color: #E81F28;
    display: block;
    font-family: 'MerriweatherRegular';
    font-size:22px;
    margin-bottom:15px;
	}
.post-thumb{
	float:left;
	margin-right:15px;
	width:47.5%;
	}
.post-thumb img{
	padding:5px;
	background-color:#fff;
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #d9d9d9;
	}
.post-content{
	float:right;
	width:50%;	
	}
.post-content a{
	text-decoration:none;
	font-family: 'ProximaNova-Regular';
	}
.post-content a.readmore{
	text-decoration:none;
	font-family: 'ProximaNova-Regular' !important;
	}
.post-content ul{
	padding:0;
	margin:0 0 15px 0;
	}
.post-content li{
	list-style:none;
	line-height:25px;
	background-image:url(../images/arrow-icon2.png);
	background-repeat:no-repeat;
	background-position:left 7px;
	padding-left:15px;
	}
.site-content.inner div.post-meta{
	overflow:hidden;
	border-bottom:1px solid #d9d9d9;
	padding-bottom:5px;
	margin-bottom:15px;
	}
.site-content.inner .post-thumb{
	float:none;
	width:auto;
	margin:0
	}
.site-content.inner .post-content{
	float:none;
	width:auto;
	margin:0
	}
.site-content.inner .post-content h3{
	font-size:22px;
	color:#555;
	margin-bottom:15px;
	display:block;
	}
.site-content.inner div.post-meta span.post-by{
	float:left;
	}
.site-content.inner div.post-meta span.post-by strong{
	color:#555;
	font-weight:normal;
	font-family: 'ProximaNova-Semibold';
	}
.site-content.inner div.post-meta span.date{
	float:right;
	background-image:none;
	color:#555
	}
.site-content.inner ul{
padding:0;
margin:0;
}
.site-content.inner li{
background-image:url(../images/arrow-icon.png);
background-repeat:no-repeat;
background-position:left 5px;
padding-left:20px;
font-size:14px;
line-height:22px;
}
.post-meta{
	padding:12px 0;
	margin:0 0 15px 0;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	}
.post-meta .date{
	background-image:url(../images/date-icon.png);
	background-repeat:no-repeat;
	background-position:left 0px;
	padding-left:20px;
	color:#ccc;
	font-size:12px;
	display:inline-block;
	margin-right:15px;
	}
.post-meta .author-name{
	background-image:url(../images/author-icon.png);
	background-repeat:no-repeat;
	background-position:left 0px;
	padding-left:20px;
	color:#ccc;
	font-size:12px;
	display:inline-block;
	margin-right:15px;
	}
.post-meta .comments{
	background-image:url(../images/bubble-icon.png);
	background-repeat:no-repeat;
	background-position:left 0px;
	padding-left:20px;
	color:#ccc;
	font-size:12px;
	display:inline-block;
	margin-right:15px;
	}
.addthis_toolbox{
	padding:15px;
	margin:0 0 15px 0;
	background-color:#fff;
	}
#comments{
	padding:0;
	margin:0
	}
#respond{
	padding:0;
	margin:0 0 25px 0;
	}
#respond h3{
    color: #333333;
    display: block;
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
	}
#respond .cancel-comment-reply{
	margin-bottom:15px;
	}
#respond .cancel-comment-reply small{
	font-size:14px;
	}
#respond .cancel-comment-reply small a{
	margin-left:5px;
	}
#respond #commentform{
	padding:0;
	margin:0;
	overflow:hidden;
	}
#respond #commentform p{
	margin:0 0 10px 0;
	padding:0;
	}
#respond #commentform p.author{
	float:left;
	width:32%;
	margin-right:10px;
	}
#respond #commentform p.email{
	float:left;
	width:32%;
	margin-right:10px;
	}
#respond #commentform p.url{
	float:left;
	width:32%;
	}
#respond #commentform p.comment{
	width:100%;
	}
#respond #commentform p.captcha{
	width:36%;
	margin-right:10px;
	float:left;
	border:1px solid #d8d7d7;
	background-color:#fff;
	}
#respond #commentform p.captcha-code{
	width:35%;
	margin-right:10px;
	float:left;
	}
#respond #commentform p.submit{
	width:25%;
	float:left;
	}
	
#respond #commentform input[type="text"], input[type="email"]{
	border:1px solid #d7d7d7;
	padding:10px 2%;
	font-family: 'ProximaNova-Semibold';
	width:90%;
	}
#respond #commentform textarea{
	border:1px solid #d7d7d7;
	height:150px;
	font-family: 'ProximaNova-Semibold';
	width:93%;
	padding:10px 2%;
	}
#respond #commentform input[type="submit"]{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:repeat-x;
	width:154px;
	height:42px;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
	}
h3#comments-title{
	color: #333333;
    display: block;
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
	}
ol.commentlist{
	padding:0;
	margin:0
	}
ol.commentlist li{
	list-style:none;
	border-bottom:1px solid #d9d9d9;
	margin-bottom:15px;
	}
ol.commentlist li:last-child{
	border-bottom:0px solid #d9d9d9;
	margin-bottom:0
	}
a.view-all{
	background-image:url(../images/arrow-icon2.png);
	background-repeat:no-repeat;
	background-position:right 3px;
	padding-right:15px;
	font-weight:bold;
	}
.avatar-cover{}
.reply{}
.comment-author-meta{
	overflow:hidden;
	padding:0;
	margin:0 0 10px 0
	}
.comment-author{
	float:left;
	color:#242424;
	font-size:16px;
	font-family: 'ProximaNova-Bold';
	margin-right:5px;
	}
.comment-meta{
	float:left;
	color:#797878;
	font-size:14px;
	font-family: 'ProximaNova-Semibold';
	}
.comment-body{
	padding:0;
	margin:0;
	font-size:15px;
	}
.widget_recent_entries{
	padding:0;
	margin:0;
	}
h3.widget-title{
	color: #E81F28;
    display: block;
    font-family: 'MerriweatherRegular';
    font-size:28px;
    margin-bottom:15px;
	}
.widget{
	background-color:#f1f1f1;
	margin-bottom:20px;
	padding:5px;
	}
/* categories */
.widget_categories ul{
	padding:0;
	margin:0;
	background-color:#fff;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #cdcdcd;
	}
.widget_categories li{
	list-style:none;
	font-size:15px;
	border-bottom:1px solid #f1f1f1;
	padding:13px 10px 13px 25px;
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:10px 13px;
	}
.widget_categories li:last-child{
	border-bottom:0px solid #d9d9d9
	}
.widget_categories li a{
	color:#858585;
	}
.widget_categories li a:hover{
	color:#e81f28;
	}
/* recent post */
.widget_recent_post ul{
	padding:0;
	margin:0;
	background-color:#fff;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #cdcdcd;
	}
.widget_recent_post li{
	list-style:none;
	font-size:15px;
	border-bottom:1px solid #f1f1f1;
	padding:13px 10px 13px 25px;
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:10px 13px;
	}
.widget_recent_post li:last-child{
	border-bottom:0px solid #d9d9d9
	}
.widget_recent_post li a{
	color:#858585;
	}
.widget_recent_post li a:hover{
	color:#e81f28;
	}
.widget_subscribe{
	padding:0;
	margin:0;
	}
.widget_subscribe .widget-wrap{
	padding:5px;
	background-color:#f1f1f1;
	}
.widget_subscribe .widget{
	padding:10px 15px 20px;
	background-image:url(../images/subscribe-bg.jpg);
	background-repeat:no-repeat;
	background-position:right 0;
	border-left:1px solid #d8d8d9;
	border-right:1px solid #d8d8d9;
	border-bottom:1px solid #c1c1c1;
	margin-bottom:0
	}
.widget_subscribe .widget p{
	margin-bottom:10px;
	font-family: 'ProximaNova-Bold';
	color:#858585;
	}
form.subscribe{
	padding:0;
	margin:0;
	position:relative;	
	}
form.subscribe input[type="text"]{
	width:50%;
	border:1px solid #bfbfbf;
	padding:8px 115px 7px 5px;
	}
form.subscribe input[type="submit"]{
	width:69px;
	height:36px;
	background-image:url(../images/subscribe.png);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer;
	position:absolute;
	right:-3px;
	top:0px
	}
/* blog close */
/* pagination start */
.wp-pagenavi {
    margin: 0 0 20px;
    overflow: hidden;
    padding:15px 0;
	text-align:center;
    width: 100%;
	background-color:#fff;
	border-top:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #cdcdcd;
}
.wp-pagenavi a {
    background-image: url("../images/pagination.png");
    background-position:-93px 0;
    background-repeat: no-repeat;
    color: #686666;
    display: inline-block;
    height:35px;
	line-height:31px;
    text-align: center;
    width:35px;
	font-size:14px;
	font-family: 'ProximaNova-Bold';
}
.wp-pagenavi a:hover {
    color: #D22227;
}
.wp-pagenavi span.current {
    background-image: url("../images/pagination.png");
    background-position:-253px 0;
    background-repeat: no-repeat;
    color: #D22227;
    display: inline-block;
    height:35px;
    text-align: center;
    width:29px;
	line-height:31px;
}
.wp-pagenavi a.previouspostslink {
    background-image: url("../images/pagination.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #686666;
    display: inline-block;
    height:35px;
    text-align: center;
    width:90px;
}
.wp-pagenavi a.previouspostslink:hover {
    color: #D22227;
}
.wp-pagenavi a.nextpostslink {
    background-image: url("../images/pagination.png");
    background-position: -288px 0;
    background-repeat: no-repeat;
    color: #686666;
    display: inline-block;
    height:35px;
    text-align: center;
    width:64px;
}
.wp-pagenavi a.nextpostslink:hover {
    color: #D22227;
}
/* pagination close */
/* cotnactus start*/
.wpcf7-form{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.wpcf7-form .left{
	float:left;
	width:48%;
	}
.wpcf7-form .right{
	float:right;
	width:49%;
	}
.wpcf7-form input[type="text"]{
	background-color:#eee;
	color:#999;
	font-size:16px;
	padding:10px 2%;
	border:none;
	width:98%;
	}
.wpcf7-form select{
	background-color:#eee;
	color:#999;
	font-size:18px;
	padding:10px 2%;
	border:none;
	width:98%;
	}
.wpcf7-form textarea{
	background-color:#eee;
	color:#999;
	font-size:18px;
	padding:10px 2%;
	border:none;
	width:98%;
	height:100px;
	}
.wpcf7-form input.captchacode{
	background-color:#eee;
	color:#999;
	font-size:18px;
	padding:10px 2%;
	border:none;
	width:63%;
	margin-left:15px;
	}
.wpcf7-form input[type="submit"]{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:repeat-x;
	color:#fff;
	font-size:20px;
	text-align:center;
	width:98%;
	border:none;
	padding:10px 0;
	font-family: 'ProximaNova-Bold';
	cursor: pointer;
	}
.city-list{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.city-list ul{
	padding:0;
	margin:0;
	}
.city-list li{
	list-style:none;
	float:left;
	width:24.2%;
	background-image:url(../images/city-icon.png);
	background-repeat:no-repeat;
	background-position:20px 20px;
	padding:20px 20px 20px 65px;
	border-bottom:1px solid #fff;
	}
.city-list li.first{
	background-color:#c1da73;
	}
.city-list li.second{
	background-color:#b3d355;
	}
.city-list li.last{
	background-color:#a6cb37;
	}
.city-list li address{
	color:#555;
	font-size:16px;
	line-height:20px;
	font-style:normal;
	height:100px;
	}
.city-list li span{
	color:#fff;
	display:block;
	margin-bottom:10px;
	font-size:18px;
	font-family: 'ProximaNova-Bold';
	}
.contact-info{
	position:relative;
	z-index: 100;
	color:#fff;
	padding:20px;
	width:940px;
	margin:0 auto;
	top:-350px;
	overflow:hidden;
	}
.contact-info .left{
	width:30%;
	float:left
	}
.contact-info .left .hello{
	background-color: #4A565C;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
	}
.contact-info .right{
	width:40%;
	float:right;
	background-color:#4e5a5e;
	padding:20px;
	}
.contact-info .mail{
	color:#fff;
	margin-bottom:10px;
	border-bottom:1px solid #717b7e;
	padding-bottom:10px;
	display:block;
	padding-left:100px;
	background-image:url(../images/mail-icon.png);
	background-repeat:no-repeat;
	background-position:left 0;
	height:82px;
	line-height:82px;
	}
.contact-info .mail a{
	color:#fff;
	font-family: 'ProximaNova-Bold';
	font-size:14px;
	}
.contact-info .location{
	color:#fff;
	display:block;
	line-height:20px;
	padding-left:100px;
	height:105px;
	background-image:url(../images/location.png);
	background-repeat:no-repeat;
	background-position:left 0;
	font-size:14px;
	}
.time-table{
	width:450px;
	float:left;
	margin-right:15px;
	font-size:14px;
	}
.time-table table{
	border:1px solid #cececf
	}
.time-table thead tr td{
	background-color:#495458;
	text-align:center;
	font-size:18px;
	border:1px solid #566063;
    font-family: 'ProximaNova-Bold';
	}
.time-table tbody tr th{
	background-color:#495458;
	color:#fff;
	border:1px solid #566063;
	font-family: 'ProximaNova-Bold';
	font-size:16px;
	}
.time-table tbody tr td{
	background-color:#fff;
	color:#555555;
	border:1px solid #cececf;
	font-size:16px;
	}
.time-table table tr:nth-child(odd){
	background-color:#e2e2e3
	}

/*
	.select {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    color: #191919;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: 0 0 20px;
    outline: medium none;
    padding: 7px 5px;
    width: 400px;
}
.ui-corner-all{
	width: 450px !important;
}
#ContactIndexForm button{

     background-color: #EEEEEE !important;
    border: medium none !important;
    color: #999999 !important;
    font-size: 18px !important;
    padding: 10px 2% !important;
    width: 98% !important;
    font-size: 16px !important;
    font-family: 'ProximaNova-Regular' !important;
    font-weight: normal !important;
}*/

/* contact us close */




/*//////////////////////////////////////------------------------------13-6-13 Popup form----------------------------------//////////////////////////*/


/*.get-free-analysic{
	max-width:400px;
	background:url(../images/banner-pattern.jpg);
	padding:20px;
	border-radius:6px;
	box-shadow:#555 0 0 10px;
	margin:10px;
	}
*/
	
.get-free-analysic input{
	background-color: #EEEEEE;
    border: medium none;
    color: #999999;
    font-size: 16px;
	line-height:16px;
    padding: 10px;
    width: 380px;
	margin-bottom:10px;	
	border-radius:3px;
}

.get-free-analysic select{
	background-color: #EEEEEE;
    border: medium none;
    color: #999999;
    font-size: 16px;
    padding:5px;
    width: 400px;
	height:40px;
	margin-bottom:10px;	
	border-radius:3px;
}

.get-free-analysic textarea{
	background-color: #EEEEEE;
    border: medium none;
    color: #999999;
    font-size: 16px;
    padding: 10px;
    width: 380px;
	height:100px;
	margin-bottom:10px;	
	border-radius:3px;
}

.get-free-analysic .captcha{}

.get-free-analysic .captcha img{
	float:left;
	height:40px !important;
	}
	
.get-free-analysic .captcha input{
	width:250px;
	float:right;
	}
	
.get-free-analysic-submit{
   background:url(../images/get-a-quote.jpg) repeat-x !important;
    border:0 !important;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family:'MerriweatherRegular' !important;
    font-size: 20px !important;
    padding: 10px 0 !important;
    text-align: center !important;
    width:400px !important;
	margin-top:10px !important;
	width:150px !important;
	margin:0 auto !important;
	float:right !important;
}

.get-free-analysic h2{
	font-size:22px;
	text-align:center;
	color:#282828;
    font-family:'MerriweatherRegular' ;
	}

#fancybox-outer{
	background:none !important;
	}
	
#fancybox-content{
	border:0px !important;
	padding:10px !important;
}

#fancybox-close{
	top:0 !important;
	right:0 !important;
	}
	
#fancybox-bg-n{display:none !important;}
#fancybox-bg-ne{display:none !important;}
#fancybox-bg-e{display:none !important;}
#fancybox-bg-se{display:none !important;}
#fancybox-bg-s{display:none !important;}
#fancybox-bg-sw{display:none !important;}
#fancybox-bg-w{display:none !important;}
#fancybox-bg-nw{display:none !important;}


	
.get-a-quote-btn{
	background-image:url(../images/get-a-quote.jpg);
	background-repeat:repeat-x;
	border:1px solid #ad0a11;
	color:#fff;
	text-shadow:1px 1px #ae171e;
	background-color:#d31c24;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:15px;
	font-family: 'ProximaNova-Bold';
	font-size:20px;
	width:262px;
	}

.page-title .sub-title h1{
 margin:0;
 padding:0;
 font-weight:normal;
    background-color: #4A565C;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    text-transform: uppercase;
}

.page_title{
 color: #555555;
    display: block;
    font-family: 'MerriweatherBold';
    font-size: 32px;
    margin-bottom: 5px;
}
.data-detail h2{
	margin:0;
	padding:0;
	display: block;
	margin-bottom: 15px;
	font-size:16px;
	color:#555555;
	font-weight:bold;
	font-family:'ProximaNova-Regular';
}
/*//////////////////////////////////////------------------------------13-6-13 Popup form----------------------------------//////////////////////////*/

#smo_123 #vtabs li{
	padding:8px 10px;
	}
	
.slideshow{
	height:380px;
	}
	
.slideshow li{
	padding-top:50px;
	}


.inner-page .content .more-services .wrapper{
padding:5px;
margin-bottom:20px;
}


/*******************   animated banner 22-10-2013   ********************************/

.banner-bg{ background:url(../images/banner-pattern.jpg) repeat; /*height:490px;*/}
.banner-wrp{ width:940px; margin:0px auto; padding:0px;}
.slider{ margin:0px; padding:0px;}
.video-banner{ float:right; margin:47px 30px 0 0 !important}
.clear{ clear:both;}



/**********************  Christmas Banner Start *********************************************/
.christmas-banner{
	padding:30px 0;
	margin:0;
	overflow:hidden;
	}
.christmas-banner .left{
	float:left;
	width:40%;
	}
.christmas-banner .right{
	float:right;
	width:55%;
	padding:40px 0 0 0
	}
.christmas-banner .right h2{
	color:#4a565c;
	font-family: 'ProximaNova-Regular';
	font-size:32px;
	line-height:40px;
	margin-bottom:35px;
	}
.christmas-banner .right h2 strong{
	color:#fff;
	font-family: 'ProximaNova-Bold';
	font-size:30px;
	margin:0 10px;
	}
.christmas-banner .right .message{
	padding:0;
	margin:0 0 0 70px;
	color:#fff;
	width:417px;
	height:89px;
	background-image:url(../images/christmas-arrow.png);
	background-repeat:no-repeat;
	background-position:left 0;
	display:block
	}
.christmas-banner .right .free-quote{
	padding:0;
	margin:0;
	background-image:url(../images/christmas-free-quote.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width:127px;
	height:46px;
	display:inline-block;
	}
.christmas-banner .right form.bform{
	padding:0;
	margin:0 0 10px 0;
	}
.christmas-banner .right form.bform p{
	padding:10px 5px 10px 20px;
	margin:0;
	border:2px solid #cade93;
	font-size:20px;
	color:#cade93;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	}
.christmas-banner .right form.bform p input[type="text"]{
	border:none;
	background-color:transparent;
	padding:5px 5px 10px 5px;
	width:63%;
	font-size:20px;
	color:#fff;
	}
.christmas-banner .right form.bform p input[type="submit"]{
	background-image:url(../images/christmas-submit-btn.png);
	background-repeat:no-repeat;
	background-position:0 0;
	border:none;
	cursor:pointer;
	background-color:transparent;
	width:111px;
	height:33px;
	}
.quick-contact-form{
	padding:10px;
	margin:0;
	background-color:#a9cf39;
	/*position:absolute;
	left:100px;
	z-index:10000;
	top:300px;*/	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	}
.quick-contact-form form.wpcf7-form{
	background-color:#f3f6e8;
	padding:50px 40px 40px 40px;
	position:relative;
	text-align:center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	}
.quick-contact-form span.deco{
	background-image:url(../images/christmas-form-top.png);
	background-repeat:no-repeat;
	width:111px;
	height:82px;
	position:absolute;
	top:-48px;
	left:40%;
	z-index:100
	}
.quick-contact-form form.wpcf7-form h2{
	display:block;
	margin-bottom:15px;
	font-size:28px;
	color:#555;
	font-family: 'MerriweatherBold';
	text-transform:uppercase
	}
.quick-contact-form form.wpcf7-form p{
	padding:10px 10px 10px 55px;
	margin:0 0 15px 0;
	height:28px;
	background-color:#fff;
	border-top:1px solid #e8e8e8;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	position:relative
	}
.quick-contact-form form.wpcf7-form p input[type="text"]{
	padding:3px 0;
	margin:0;
	background-color:transparent;
	border:none;
	font-size:20px;
	color:#666666;
	font-family: 'ProximaNova-Regular';
	}
.quick-contact-form form.wpcf7-form p input[type="email"]{
	padding:3px 0;
	margin:0;
	background-color:transparent;
	border:none;
	font-size:20px;
	color:#666666;
	font-family: 'ProximaNova-Regular';
	}
.quick-contact-form form.wpcf7-form p input[type="phone"]{
	padding:3px 0;
	margin:0;
	background-color:transparent;
	border:none;
	font-size:20px;
	color:#666666;
	font-family: 'ProximaNova-Regular';
	}
.quick-contact-form form.wpcf7-form input[type="submit"]{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #7c9b1d;
	cursor:pointer;
	padding:15px 0;
	background-color:#95B633
	}
.quick-contact-form form.wpcf7-form p.url{
	background-image:url(../images/christmas-form-icon.png);
	background-repeat:no-repeat;
	background-position:15px 1px;
	}
.quick-contact-form form.wpcf7-form p.name{
	background-image:url(../images/christmas-form-icon.png);
	background-repeat:no-repeat;
	background-position:15px -35px;
	}
.quick-contact-form form.wpcf7-form p.email{
	background-image:url(../images/christmas-form-icon.png);
	background-repeat:no-repeat;
	background-position:15px -75px;
	}
.quick-contact-form form.wpcf7-form p.phone{
	background-image:url(../images/christmas-form-icon.png);
	background-repeat:no-repeat;
	background-position:15px -115px;
	}
.quick-contact-form form.wpcf7-form p.msg{
	font-size: 14px;
	background-color: transparent;
	border:none;
	padding: 0;
	text-align: left;
	color:#000;
	margin: 0px;
	}
.quick-contact-form form.wpcf7-form span.error{
	padding:0;
	margin:47px 0 0 0;
	border:none;
	border-radius:0;
	text-align:left;
	height:auto;
	color:#E81F28;
	font-size:14px;
	position: absolute;
    top: 0;
    right: 0;
    width: auto;
	/*background-color:red;
	padding:0 5px;
	color:#fff;*/
	}	
.quick-contact-form form.wpcf7-form p.captcha{
	padding:0;
	margin:0 0 15px 0;
	background-color:transparent;
	border:none;
	border-radius:0;
	text-align:left;
	height:auto;
	}
.quick-contact-form form.wpcf7-form p.captcha img{
	margin-right:10px;
	float:none;
	}
.quick-contact-form form.wpcf7-form p.captcha input[type="text"]{
	padding:15px;
	margin:0;
	background-color:transparent;
	border:none;
	font-size:17px;
	color:#666666;
	font-family: 'ProximaNova-Regular';
	background-color:#fff;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	width:52%;
	border-top:1px solid #e8e8e8;
	float:none
	}
.fancy-close{
	display:block;
	text-align:center;
	width:100%;
	margin-top:50px;
	}
.fancy-close a{
	background-image:url(../images/christmas-close.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width:183px;
	height:65px;
	display:inline-block;
	}
a#fancybox-close{
	display:none !important;
	}

/**********************  Christmas Banner Close *********************************************/

