
div.timeline {
    position: relative;
	overflow:hidden;
    margin:0px auto;
	width:940px !important;
}

/* Column */
div.timeline.dual div.column_left {
    width: 50%;
    float: left;
	margin-top:200px;
}
div.timeline.dual div.column_right {
    width: 50%;
    float: right;
	margin-top:100px;
}
div.timeline.left div.column_left,
div.timeline.right div.column_right,
div.timeline.center div.column_center {
    width: 100%;
    float: none;
    margin-top: 0px;
}

/* Date Separator */
div.timeline div.date_separator {
    clear: both;
    text-align: center;
    height: 60px;
    position: relative;
}
div.timeline div.date_separator span {
    position: absolute;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    top: -200%;
    margin-top: -16px;
    font-size: 14px;
    border-radius: 5px;
    filter:alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.timeline div.date_separator.animated span {
    top: 50%;
    filter:alpha(opacity=100);
    opacity: 1;
}
div.timeline.dual div.date_separator span,
div.timeline.center div.date_separator span {
    left: 50%;
    margin-left: -50px;
}
div.timeline.left div.date_separator span {
    right: 0px;
}
div.timeline.right div.date_separator span {
    left: 0px;
}

/* Spine */
div.timeline div.spine {
    position: absolute;
    top: 0px;
    bottom: 100%;
    width: 4px;
    border-radius: 2px;
    -webkit-transition: bottom 0.5s linear;
       -moz-transition: bottom 0.5s linear;
        -ms-transition: bottom 0.5s linear;
         -o-transition: bottom 0.5s linear;
            transition: bottom 0.5s linear;
}
div.timeline div.spine:before{
	content:" SEO ";
	background-color:#4a565c;
	color:#fff;
	font-size:24px;
	font-family: 'ProximaNova-Bold';
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	width:80px;
	height:80px;
	line-height:80px;
	margin-left:-35px;
}
div.timeline.dual div.spine,
div.timeline.center div.spine {
    left: 50%;
    margin-left: -2px;
}
div.timeline.left div.spine {
    right: 4px;
}
div.timeline.right div.spine {
    left: 4px;
}
div.timeline div.spine.animated {
    bottom: 0%;
	background-color:#ccc
}
/* Element */
div.timeline_element {
    position: relative;
    margin: 10px 0px;
    opacity: 0;
    clear: both;
    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.opacityFilter div.timeline_element {
    visibility: hidden;
}
.opacityFilter div.timeline_element.animated {
    visibility: visible;
}
div.timeline_element div.del {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 8px;
    text-transform: uppercase;
    padding: 4px 6px;
    text-shadow: none;
}
div.timeline_element:hover div.del {
    display: block;
}
div.timeline div.column_left div.timeline_element {
    float: left;
    margin-left:7px;
    left: 10%;
}
div.timeline div.column_right div.timeline_element {
    float: left;
    margin-left:34px;
    right: 10%;
}
div.timeline div.column_center div.timeline_element {
    margin: 20px auto;
}
div.timeline div.column_left div.timeline_element.animated {
    left: 0%;
    opacity: 1;
}
div.timeline div.column_right div.timeline_element.animated {
    right: 0%;
    opacity: 1;
}
div.timeline div.column_center div.timeline_element.animated {
    opacity: 1;
}
div.timeline_element:before {
    content: '';
    position: absolute;
    display: block;
    width: 26px;
    height: 0px;
}
div.timeline div.column_left div.timeline_element:before {
    top: 15px;
    right: -27px;
}
div.timeline div.column_right div.timeline_element:before {
    top: 15px;
    left: -27px;
}
div.timeline div.column_center div.timeline_element:before {
    display: none;
}
div.timeline_element:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
div.timeline_element:hover:after {
    z-index: 100;
}
div.timeline.dual div.column_left div.timeline_element:after {
    top: 10px;
    right: -36px;
}
div.timeline.dual div.column_right div.timeline_element:after {
    top: 10px;
    left: -36px;
}
div.timeline.left div.column_left div.timeline_element:after {
    top: 10px;
    right: -30px;
}
div.timeline.right div.column_right div.timeline_element:after {
    top: 10px;
    left: -30px;
}
div.timeline.center div.column_center div.timeline_element:after {
    display: none;
}

div.timeline_element div.title span.label {
    display: block;    
}
div.timeline_element div.title span.date {
    float: right;
	display:none;
}

/* new setting */

/* seo timeline start */
div#timeline div.timeline_element div.title{
	width:400px;
	padding:15px;
	color:#fff;
	display:block;
	text-align:left;
	font-size:18px;
	font-family: 'MerriweatherBold';
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}
div#timeline div.timeline_element div.content{
	background-color:#fff;
	width:398px;
	padding:15px;
	color:#666;
	text-align:left;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom:2px solid #c2c2c2;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}
div#timeline div.timeline_element div.content p{
	color:#666;
	font-size:16px;
	}
div#timeline div.timeline_element div.content p strong{
	color:#666;
	font-size:16px;
	font-weight:normal;
	font-family: 'ProximaNova-Bold';
	}
div#timeline div.timeline_element.red .title{
	background-color:#ea212a;
	}
div#timeline div.timeline_element.yellow .title{
	background-color:#f6ee29;
	color:#4c585e;
	}
div#timeline div.timeline_element.green .title{
	background-color:#aacf3b;
	color:#4c585e
	}
div#timeline div.timeline_element.black .title{
	background-color:#4c585e;
	}
.column column_left:first-child{
	display:none;
	visibility:hidden
	}
div.arrow-dot{
	position:absolute;
	top:15px;	
	display:block;
	width:100%;
	}
div#timeline div.timeline_element.black div.arrow-dot{
	background-image:url(../images/seo-black.png);
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	right:0
	}
div#timeline div.timeline_element.yellow div.arrow-dot{
	background-image:url(../images/seo-yellow.png);
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	right:0
	}
div#timeline div.timeline_element.red div.arrow-dot{
	background-image:url(../images/seo-red.png);
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	left:-44px
	}
div#timeline div.timeline_element.green div.arrow-dot{
	background-image:url(../images/seo-green.png);
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	left:-44px
	}
