@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/museosans_900-webfont.eot');
    src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_900-webfont.woff') format('woff'),
         url('../fonts/museosans_900-webfont.ttf') format('truetype'),
         url('../fonts/museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans100_italic';
    src: url('../fonts/museosans-100italic-webfont.eot');
    src: url('../fonts/museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100italic-webfont.woff') format('woff'),
         url('../fonts/museosans-100italic-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100italic-webfont.svg#museo_sans100_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0px;
    font-family: 'museo_sans300';
}
.c {
	clear:both;
}
.ewm-popup-container {
	max-width:940px;
	margin:0 auto;
	padding:0;
	background-color:#FFF;
	padding:8px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:80px;
	position:relative;

}

h1, h2, h3, h4{
	font-weight:normal;
	}

.ewm-popup-cantent{
	padding:8px;
	background-color:#313c40;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position:relative;
	}

.ewm-popup-close-button{
	position:absolute;
	width:85px;
	height:82px;
	top:-25px;
	right:-23px;
	z-index:1234;
	}

.ewm-popup-receive-your-web{
	position:absolute;
	top:-30px;
	left:80px;
	width:780px;
	height:70px;
    font-family: 'museo_sans900';
	font-size:38px;
	color:#a5ca39;
	text-align:center;
	padding:20px 0 0 0;
	background-color:#313c40;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow:2px 4px 9px #000;
	}

.ewm-popup-middle-cantent{
	background-image:url(../images/pattern.jpg);
	background-repeat:repeat;
	background-color:#e6e7e8;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:100px 0 0 0;
	}

.ewm-popup-client-logo{
	width:800px;
	background-color:#fff;
	text-align:center;
	margin-left:80px;
	margin-right:40px;
	}

.ewm-popup-client-logo ul{
	margin:0;
	padding:0;
	}

.ewm-popup-client-logo ul li{
	list-style:none;
	float:left;
	margin-right:25px;
	padding-left:15px;
	padding-top:20px;
	}

.ewm-popup-client-logo ul li:last-child{
	margin:0;
	}

.ewm-popup-text{
	text-align:center;
	margin-top:25px;
	}

.ewm-popup-text h1{
    font-family: 'museo_sans900';
	font-size:30px;
	color:#000;
	padding:0;
	}

.ewm-popup-text p{
    font-family: 'museo_sans300';
	font-size:20px;
	color:#000;
	margin:0;
	padding:0 0 10px 0;
	}

.ewm-popup-coading{
	background-color:#a7a9ac;
    font-family: 'museo_sans900';
	font-size:24px;
	color:#fff;
	text-align:center;
	padding:20px 0;
	background-image:url(../images/check-box.png);
	background-repeat:no-repeat;
	background-position:250px 10px;
	}

.ewm-popup-coading img{
	vertical-align:middle;
	margin-left:30px;
	}

.ewm-popup-keyward{
	background-color:#a5ca39;
    font-family: 'museo_sans900';
	font-size:24px;
	color:#fff;
	text-align:center;
	padding:20px 0;
	background-image:url(../images/check-box.png);
	background-repeat:no-repeat;
	background-position:230px 10px;
	}

.ewm-popup-keyward img{
	vertical-align:middle;
	margin-left:30px;
	}

.ewm-popup-report{
	background-color:#313c40;
    font-family: 'museo_sans900';
	font-size:24px;
	color:#fff;
	text-align:center;
	padding:20px 0;
	background-image:url(../images/check-box.png);
	background-repeat:no-repeat;
	background-position:280px 10px;
	}

.ewm-popup-report img{
	vertical-align:middle;
	margin-left:30px;
	}

.ewm-popup-review{
	margin-top:20px;
	}

.ewm-popup-review h2{
	width:700px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
    font-family: 'museo_sans900';
	font-size:22px;
	color:#000;
	text-align:center;
	background-image:url(../images/border.png);
	background-repeat:repeat-x;
	}

.ewm-popup-review form{
	margin:0 auto;
	width:800px;
	color:#000;
	}

.ewm-popup-review form p{
	display:inline;
	margin-right:5px;
	padding:0;
	}

.ewm-popup-review form p img{
	margin:0 15px 0 15px;
	vertical-align:middle;
	border-radius:10px;
	}


.ewm-popup-review form p input{
	width:230px;
	height:30px;
	border:none;
	padding-left:15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    font-family: 'museo_sans100_italic';
	font-size:20px;
	color:#000;
	margin-bottom:15px;
}
.ewm-popup-review form p textarea{
	width:230px;
	height:50px;
	border:none;
	display:inline;
	padding-left:15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    font-family: 'museo_sans100_italic';
	font-size:20px;
	color:#000;
	resize:none;
	float:left;
}

.button{
	text-align:center;
	display:block !important;
	margin:20px 0 0 0 !important;
	padding:0;
	}

.ewm-popup-review form p input.submit{
	background-image:url(../images/submit.png);
	background-repeat:no-repeat;
	width:432px;
	height:56px;
	cursor:pointer;
	text-align:center;
	margin:0 auto;
	margin-bottom:20px;
	}

#fancybox-content {
	overflow: visible !important;
}