@font-face {
 font-family: 'MerriweatherLight';
 src: url('../fonts/Merriweather-Light-webfont.eot');
 src: url('../fonts/Merriweather-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Merriweather-Light-webfont.woff') format('woff'),  url('../fonts/Merriweather-Light-webfont.ttf') format('truetype'),  url('../fonts/Merriweather-Light-webfont.svg#MerriweatherLight') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'MerriweatherRegular';
 src: url('../fonts/Merriweather-Regular-webfont.eot');
 src: url('../fonts/Merriweather-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Merriweather-Regular-webfont.woff') format('woff'),  url('../fonts/Merriweather-Regular-webfont.ttf') format('truetype'),  url('../fonts/Merriweather-Regular-webfont.svg#MerriweatherRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'MerriweatherItalic';
 src: url('../fonts/Merriweather-Italic-webfont.eot');
 src: url('../fonts/Merriweather-Italic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Merriweather-Italic-webfont.woff') format('woff'),  url('../fonts/Merriweather-Italic-webfont.ttf') format('truetype'),  url('../fonts/Merriweather-Italic-webfont.svg#MerriweatherItalic') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'MerriweatherBold';
 src: url('../fonts/Merriweather-Bold-webfont.eot');
 src: url('../fonts/Merriweather-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Merriweather-Bold-webfont.woff') format('woff'),  url('../fonts/Merriweather-Bold-webfont.ttf') format('truetype'),  url('../fonts/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'MerriweatherHeavy';
 src: url('../fonts/Merriweather-Black-webfont.eot');
 src: url('../fonts/Merriweather-Black-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Merriweather-Black-webfont.woff') format('woff'),  url('../fonts/Merriweather-Black-webfont.ttf') format('truetype'),  url('../fonts/Merriweather-Black-webfont.svg#MerriweatherHeavy') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ProximaNova-Regular';
 src: url('../fonts/proximanovaregular.eot');
 src: url('../fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanovaregular.woff') format('woff'),  url('../fonts/proximanovaregular.ttf') format('truetype'),  url('../fonts/proximanovaregular.svg#proximanovaregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova-Light';
 src: url('../fonts/proximanovalight.eot');
 src: url('../fonts/proximanovalight.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanovalight.woff') format('woff'),  url('../fonts/proximanovalight.ttf') format('truetype'),  url('../fonts/proximanovalight.svg#proximanovalight') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova-Semibold';
 src: url('../fonts/proximanovasemibold.eot');
 src: url('../fonts/proximanovasemibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanovasemibold.woff') format('woff'),  url('../fonts/proximanovasemibold.ttf') format('truetype'),  url('../fonts/proximanovasemibold.svg#proximanovasemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova-Bold';
 src: url('../fonts/proximanovabold.eot');
 src: url('../fonts/proximanovabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanovabold.woff') format('woff'),  url('../fonts/proximanovabold.ttf') format('truetype'),  url('../fonts/proximanovabold.svg#proximanovabold') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	padding:95px 0 0 0;
	margin:0;
	font-family: 'ProximaNova-Regular';
	color:#555;
	min-width:940px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
.c{
	clear:both;
	height:0;
	visibility:hidden;
	display:block
	}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:0;
	outline:none;
	vertical-align:middle;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
a {
	text-decoration:none;
	outline:none;
	color:#a6cb37
}
a:active, a:selected, a:visited { 
    border: none;
    outline: none;
	ie-dummy: expression(this.hideFocus=true);
}
input, textarea, select {
	font:100% arial, sans-serif;
	vertical-align:middle;
	outline:none;
	resize:none
}
textarea{
	overflow:auto;
	}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
.video embed, .video object, .video iframe {
	width: 100%;
	height: auto;
	min-height: 300px;
}
img.alignright {float:right; margin:0 0 0 1em;}
img.wp-post-image {float:right; margin:0 0 0 1em;}
img.alignleft {float:left; margin:0 1em 0 0;}
img.aligncenter {display: block;  margin-bottom:1em; margin-left: auto; margin-right: auto;}
a img.alignright {float:right; margin:0 0 0 1em;}
a img.wp-post-image {float:right; margin:0 0 0 1em;}
a img.alignleft {float:left; margin:0 1em 0 0;}
a img.aligncenter {display: block; margin-bottom:1em; margin-left: auto; margin-right: auto;}
h1, h2, h3, p{
	font-weight:normal;
	padding:0;
	margin:0;
	}
p{
  margin-bottom:20px;
  line-height:22px;
 }
h1{
	font-size:32px;
	margin-bottom:15px;
	color:#555555;
	font-family: 'MerriweatherBold';
	display:block;
	}
h2{
	font-size:28px;
	margin-bottom:15px;
	color:#e81f28;
	font-family: 'MerriweatherRegular';
	display:block;
	}
h3{
	font-size:16px;
	margin-bottom:15px;
	color:#e81f28;
	font-family: 'ProximaNova-Semibold';
	display:block;
	}
h2.box-title{
	font-size:28px;
	margin-bottom:15px;
	color:#e81f28;
	font-family: 'MerriweatherRegular';
	display:block;
	text-align:center;
	background-image:url(../images/deco-title.jpg);
	background-repeat:repeat-x;
	background-position:center;
	}
h2.box-title span{
	background-color:#fff;
	padding:0 15px;
	display:inline-block;
	}
.btn{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:repeat-x;
	background-color:#95B631;
	border:1px solid #7c9b1d;
	color:#fff;
	font-family: 'ProximaNova-Bold';
	font-size:20px;
	padding:10px 30px ;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-shadow:1px 1px #88a62d;
	}
.wrapper{
	margin:0 auto;
	width:940px;
	padding:60px 0px 35px;
	position:relative;
	}
.grey{
	background-color:#f1f1f1;
	position:relative;
	}
.grey .wrapper{
	padding:45px 0 20px 0;
	}
.get-a-quote-btn{
	background-image:url(../images/get-a-quote.jpg);
	background-repeat:repeat-x;
	border:1px solid #ad0a11;
	color:#fff;
	text-shadow:1px 1px #ae171e;
	background-color:#d31c24;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:15px 40px;
	font-family: 'ProximaNova-Bold';
	font-size:22px;
	width:190px;
	}
.know-more{
	background-image:url(../images/know-more-btn.jpg);
	background-repeat:repeat-x;
	border:1px solid #7c9b1d;
	color:#fff;
	text-shadow:1px 1px #8baa2e;
	background-color:#95b632;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:12px 20px;
	font-family: 'ProximaNova-Bold';
	font-size:16px;
	display:inline-block;
	}
.know-more span{
	background-image:url(../images/arrow-white.png);
	background-repeat:no-repeat;
	display:block;
	background-position:right center;
	padding-right:25px;
	}
.shadow-top{
	height:10px;
	width:100%;
	text-align:center;
	}
.shadow-top img{
	vertical-align:top
	}
.shadow-bottom{
	height:10px;
	width:100%;
	text-align:center;
	}
.shadow-bottom img{
	vertical-align:top
	}
.content{
	padding:0;
	overflow:hidden;
	}	
.content .wrapper p{
	line-height:22px;
	}
/* table start */
table{
	border:#2d2d2d solid 0px;
	font-weight:normal;
	border-collapse:collapse;
	width:100%;
}
table caption{
	background-image:url(../img/table-caption.jpg);
	background-repeat:repeat-x;
	height:40px;
	line-height:40px;
	color:#b2b2b2;
	font-family: 'ProximaNova-Bold';
	border:1px solid #2d2d2d;
	text-align:center;
	}
table th{
	background-image:url(../img/table-header.jpg);
	background-repeat:repeat-x;
	height:45px;
	color:#848484;
	border:1px solid #2d2d2d;
	font-family: 'ProximaNova-Regular';
	text-align:left;
	padding-left:10px;	
	}
table tr {
	border:#2d2d2d solid 0px;
	border-collapse:collapse;
}
table tr td{
	border:#2d2d2d solid 0px;
	border-collapse:collapse;
	border:#2d2d2d solid 1px;
	color:#fff;
	padding:10px;
	text-align:left
}
/* table close */
/* horizontal tabs start */
#htabs{
	padding:0;
	margin:0;
	overflow:hidden;
	}
#htabs ul{
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
#htabs li{
	list-style:none;
	float:left;
	display:inline;
	margin-right:5px;
	}
div#htabs.ui-tabs .ui-tabs-panel{
	overflow:hidden;
	}
div#htabs.ui-tabs .ui-tabs-panel ul{

	padding:0;
	margin:0;
	float:left;
	width:25%;
	}
div#htabs.ui-tabs .ui-tabs-panel ul li{
	display:block;
	float:none;
	padding:0;
	margin:0;
	line-height:25px;
	}
/* horizontal tabs close */
/* verticle start */
#vtabs{
	padding:0;
	margin:0;
	overflow:hidden
	}
#vtabs ul{
	width:10%;
	float:left;
	padding:0;
	margin:0;
	margin-right:10px;
	}
#vtabs li{
	list-style:none;
	display:block;
	margin-bottom:5px;
	padding:10px;
	}
#vtabs li a{
	display:block;
	}
#vtabs div{
	float:left;
	width:85%;
	}
/* verticle close */
/* accordion  start */
#accordion {
	padding:0;
	margin:0;
	}
#accordion h3.ui-accordion-header{
	background-color:#666;
	color:#fff;
	padding:10px;
	cursor:pointer;
	margin:0 0 5px 0;
	font-size:16px;
	text-transform:inherit
	}
#accordion h3.ui-state-active{
	background-color:#F00;
	}
#accordion div{
	margin:0 0 5px 0
	}
/* accordion  close */
/* date picker start */
#datepicker{
	margin:30px 0;
	}
.ui-datepicker-header{
	padding:10px;
	margin:0;
	background-color:#0C0C0C
	}
.ui-datepicker-prev{
	width:20px;
	height:20px;
	float:left;
	display:block;
	cursor:pointer;
	font-size:0px;
	background-image:url(../img/date-left-arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	}
.ui-datepicker-next{
	float:right;
	width:20px;
	height:20px;
	display:block;
	cursor:pointer;
	font-size:0px;		
	background-image:url(../img/date-right-arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	}
.ui-datepicker-title{
	margin:0px 40px;
	text-align:center;
	font-weight:bold;
	color:#B2B2B2
	}
table.ui-datepicker-calendar tr th{
	text-align:center;
	}
table.ui-datepicker-calendar .ui-state-default{
	color:#fff;
	font-weight:bold;
	text-align:center;
	display:block;
	}
table.ui-datepicker-calendar tr td{
	padding:0
	}
table.ui-datepicker-calendar tr td a{
	padding:10px 0
	}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color:#131313;
	}
table.ui-datepicker-calendar tbody tr td.ui-state-active1{
	background-image:url(../img/true.png);
	background-repeat:no-repeat;
	background-position:10% 90%;
	background-color:transparent;
	}
table.ui-datepicker-calendar tbody tr td.ui-state-active2{
	background-image:url(../img/cros.png);
	background-repeat:no-repeat;
	background-position:10% 90%;
	background-color:transparent;
	}
/* layout structure start */
.single-column{
	padding:0;
	margin:0 0 30px 0;
	overflow:hidden;
	}	
.two-column-left{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.two-column-left article{
	float:right;
	width:68%;
	}
.two-column-left aside{
	float:left;
	width:30%;
	}	
.two-column-right{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.two-column-right article{
	float:left;
	width:68%;
	}
.two-column-right aside{
	float:right;
	width:30%;
	}
.three-column{
	padding:0;
	margin:0;
	overflow:hidden;
	}
.three-column .left{
	float:left;
	width:25%;
	background-color:#666;
	}
.three-column .right{
	float:right;
	width:25%;
	background-color:#666;
	}
.three-column .center{
	margin:0 26%;
	background-color:#666;
	}
/* layout structure close */
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background-color:#F5F5F5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.slider{
	padding:0;
	margin:0;
	position:relative;
	}
.slider .next{
	background-color:#F00;
	width:20px;
	height:20px;
	display:none;
	}
.slider .prev{
	background-color:#F00;
	width:20px;
	height:20px;
	display:none;
	}
.scrollable {
	position:relative;
	overflow:hidden;
	width:100%;	
}
.scrollable .items { 	
	position:relative;
	width:20000em;	
}
.scrollable .items div.data{
	width:940px;
	float:left;
}
.navi {
	height:57px;
	position:absolute;
	bottom:-38px;
	left:45%;
	width:auto;
	padding-left:5px;
	background-image:url(../images/pagination-shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.navi a {
	width:17px;
	height:16px;
	margin-right:5px;
	display:inline-block;
	cursor:pointer;
	background-image:url(../images/navigation.png);
	background-repeat:no-repeat;
	background-position:0 0;
	margin-top:20px;
}
.navi a.active {
	background-position:-22px 0;		
}
